body { 
    background-color: #eaeaea;
}
.boven { 
    text-align: center;
    height: 200px;
    background-color: black;
    position: sticky;
    padding: 3px 0px;
    font-size: 30px;
    color: white;
}

.basis {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px;
    height: 800px;
    transition: transform 0.3s ease;
}

.basis:hover {
    transform: translateY(-5px);
}

.boxes { 
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px 0;
}